doctype html
html(lang="en")
    head
        block head
            include head.html
    body
        block navigation
            include nav.jade
        block body
            .container-fluid
                .row
                    main.col-sm-8.col-sm-offset-2
                        if posts
                            for post in posts
                                article
                                    = post
                        if post
                            article
                                = post
        footer
            h3 Collectqt.me
            h4: a(href='#') Back to top
        block footer
            include footer.html
