<!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CollectQT</title>
    <meta name="description" content= "A (Q)ueer (T)rans (Collect)ive">
<!-- resources -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Press+Start+2P" rel='stylesheet' type='text/css'>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
