<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CollectQT</title>
<meta name="description" content= "A (Q)ueer (T)rans (Collect)ive">
<meta name="google-site-verification" content="mq1mvabsNKJTOxc0xmEi3XUrT6nYF4tRqhn5SQIketc" />
<link href="http://fonts.googleapis.com/css?family=Press+Start+2P" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel='stylesheet' type='text/css'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Palanquin:600" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="/static/css/main.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<link href='http://i.imgur.com/CZHxI4v.png' rel='shortcut icon'>
<link href="/static/css/main.css" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<link href='http://i.imgur.com/CZHxI4v.png' rel='shortcut icon'>

