<nav>
    <h1>CollectQT</h1>
    <a href='/'><img class="logo-large extra" src="http://i.imgur.com/ydDFbp4.png?2" alt="CollectQT Logo" /></a>
    <div class='nav-menu'>
        <div class='nav-category'>Pages</div>
            <div><a href='/' class='button'>Home</a></div>
            <div><a href='/work-with-us'class='button'>Work With Us</a></div>
            <div><a href='/definitions' class='button'>Political Definitions</a></div>
        <div class='nav-category'>Links</div>
            <div><a href='http://twitter.com/collectqt' class='button'>Twitter</a></div>
            <div><a href='https://www.patreon.com/collectqt' class='button'>Patreon</a></div>
            <div><a href='http://quirell.net' class='button'>Quirell</a></div>
            <div class='submenu'><i class="fa fa-chevron-right"></i><a href='https://gitlab.com/collectqt/quirell/issues' class='button'>Source Code</a></div>
            <div class='submenu'><i class="fa fa-chevron-right"></i><a href='https://twitter.com/CQT_quirell' class='button'>Quirell's Twitter</a></div>
    </div>
    <div class='icon-bar'></div>
</nav>
