<nav>
    <h1>CollectQT</h1>
    <a href='/'><img class="logo-large" src="http://i.imgur.com/ydDFbp4.png?2" alt="CollectQT Logo" /></a>
    <div class='nav-menu'>
        <div class='nav-category'>Pages</div>
            <a href='/work-with-us'><button>Work With Us</button></a>
            <a href='/quirell-now-what'><button>Quirell, Helping Out</button></a>
        <div class='nav-category'>Links</div>
            <a href='http://twitter.com/collectqt'><button>Twitter</button></a>
            <a href='https://www.patreon.com/collectqt'><button>Patreon</button></a>
            <a href='http://quirell.net'><button>Quirell</button></a>
                <a href='https://gitlab.com/collectqt/quirell/issues'><i class="fa fa-chevron-right"></i><button>Source Code</button></a>
    </div>
    <div class='icon-bar'>
    </div>
</nav>
