.sidebar-module.sidebar-module-about
    h2 CollectQT
    .sidebar-icon
        img(src="http://i.imgur.com/CZHxI4v.png", alt="CollectQT Logo")
    p &nbsp; 
    strong CollectQT,
    &nbsp; a queer trans collective working on rebuilding the internet.
    
.sidebar-module
    h4 Pages
    ol.list-unstyled
        li: a(href="/work-with-us") Work With Us
        li: a(href="/definitions") Politics
    h4 Our Work
    ol.list-unstyled
        li: a(href='https://gitlab.com/collectqt')
            img(src='http://quirell.net/static/img/quirell.png', alt='Quirell Logo')
            span Quirell
    h4 Links / Contact
    ol.list-unstyled
        li: a(href='https://gitlab.com/collectqt')
            i.fa.fa-git
            span Open source portfolio
        li: a(href='https://twitter.com/collectqt')
            i.fa.fa-twitter
            span CollectQT on Twitter
        li: a(href='https://patreon.com/collectqt')
            img(src='/static/img/patreon.png')
            span Support us on Patreon
        li
            i.fa.fa-envelope
            span contact@collectqt.me
    h4 Sponsors
    ol.list-unstyled
        li: a(href='http://apprenticeship.community')
            .brand-image: img.apprenticeship(src='http://raw.githubusercontent.com/zincmade/apprenticeship.community/primary/design/words-small.png', alt='Apprenticeship Community')
        li: a(href='http://www.moorhensolutions.co.uk/')
            .brand-image: img.moorhensolutions(src='http://www.moorhensolutions.co.uk/images/Moorhen-Solutions.png')
