<html lang="en">
<head>
<!-- why would i be doing this -->
<meta charset="utf-8">
<meta name="description" content="We do tech things in a queer fashion.">
  <meta name="author" content="Kord I. Fierro">
<link href='http://fonts.googleapis.com/css?family=Share+Tech+Mono|Josefin+Slab:400,600|Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="/css.css">
<title>CollectQT: {{metadata.title}}</title>
</head>
<body>

<header class="2col blkbrdr">
<div class="col col0"><a href="" title="CollectQT Home"><img class="logo" src="/images/collectQT.svg" alt="collectQT in circuit traces" /></a><a href="" title="CollectQT Home"><span class="collectQT">CollectQT</span></a></div>

<nav class="col col2 floatRight">about • team • something else</nav>
</header>

<div id="banner" class="blkbrdr clear">
  <p>Tech things<br />we do them<br />in a queer fashion.</p>
</div>

<section id="main" class="clear">
{{content}}
</section>

<footer class="blkbrdr clear">
<div class="col col0" id="cr">© 2014 CollectQT</div>
<div class="col col1"><a href="" title="CollectQT Home"><img class="logo" src="/images/collectQT.svg" alt="collectQT in circuit traces" /></a></div>
<nav class="col col2">about • team • something else<br /><a href="https://twitter.com/CollectQT" target="_blank" title="QT on twitter"><img src="/images/QT-Twitter.png" alt="cyan twitter bird" /></a> • <a href="https://github.com/CollectQT" target="_blank" title="QT on github"><img src="/images/socialQT-Github.png" alt="fuchsia github octocat" /></a></nav>
</footer>

</html>
