/*
main.css

Organization:

[HELPERS]
    basic stuff, like add to invisble or disable none
[GLOBAL]
    global styling
        font
        font style
        colors
[BASE LAYOUT]
    base layout
        height / width
        margin and padding
        font size
        shadows
[MOBILE]
    mobile media queries and layout
[EXTERNAL]
    styling for external resources. ex icons and fonts
*/

/*---------------
    HELPERS
-----------------*/

.visible {opacity: 1;}
.invisible {opacity: 0;}
.inline{display: inline;}
.block{display: block;}
.none {display: none;}
.positionAbsolute {position: absolute;}
.positionStatic {position: static;}
.center {margin-left: auto; margin-right: auto;}
.center_text{text-align: center;}
.no_flair{text-shadow: none;}

$primary_color: white;
$secondary_color: purple;
$accent_color: orange;
$body_color: white;

$title_font: "Press Start 2P", monospace;
$body_font: "Ubuntu Mono", sans-serif;
$cursive_font: "Walter Turncoat", cursive;
$texture: url(http://i.imgur.com/5NGuyjJ.png);

$mobile_xy: 500px;

/*---------------
    GLOBAL
-----------------*/

//basics

h1, h2, h3, h4, h5, p, .heading {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: black;}

h1, h2, h3, h4, h5, .heading {
    line-height: 1.3em;
    font-family: $title_font;
    text-shadow: 0 0 0.1em purple;
}

html, body, .texture {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-family: $title_font;
 }

.body_texture {
    position: fixed;
    background-image: $texture;
    z-index: -1;
    opacity: 0.8;
}

nav, footer, article {
    background-color: $primary_color;
    width: 100%;
}

main {
    display: table;
    list-style-type: none;
}

p, blockquote, ul {
    font-family: $body_font;
    line-height: 1.1em;
}

ul {list-style-type: square;}

//effects

a {
    cursor: inherit;
    text-decoration: inherit;
    transition: color 0.33s;
}

main a {color: $secondary_color}
main a:hover {color: $accent_color;}

nav button {
    position: relative;
    display: block;
    opacity: 0.7;
    border: none;
    text-align: right;
    background-color: $secondary_color;
    transition: color 0.5s, background-color 0.5s;
    &:hover {
        color: $primary_color;
        background-color: black;
    }
    &:active {
        color: black;
        background-color: $primary_color;
    }
}

//helpers

.heading {font-family: $title_font;}
.heading_small {font-size: 1.5em;}
.heading_large {font-size: 2em;}
.content {font-family: $body_font}

.logo-large {height:100px;}
.logo-small {height:50px;}

/*-------------------
    BASE LAYOUT
---------------------*/

//this media query is just for consistency
@media all {

    //block level

    nav {
        position: fixed;
        //
        width: 100%;
        height: 60px;
        padding: 20px 10%;
        //
        box-shadow: 0 0 10px 5px $secondary_color;
    }

    main {
        width: 50%;
        margin: 40px auto;
        margin-bottom: 0;
    }

    article {
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
        //
        box-shadow: 0 0 10px 0 black;
    }

    footer {
        padding: 20px 10%;
        box-shadow: 0 0 6px 3px $secondary_color;
    }

    //content level

    p {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 25px;
        margin-right: 25px;
        //
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    blockquote {
        margin-left: 60px;
        margin-right: 60px;
        //
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 15px;
        //
        font-style: italic;
    }

    ul {
        margin-left: 25px;
        margin-right: 25px;
        //
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
    }
}

/*---------------
    MOBILE
-----------------*/

@media all and (max-height: $mobile_xy), (max-width: $mobile_xy){

    html {font-size: 0.8em;}


    //block level

    nav {
        position: fixed;
        //
        width: 100%;
        height: 50px;
        padding: 15px 10%;
        //
    }

    main {
        width: 85%;
        margin: 30px auto;
    }

    article {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        padding: 15px 10%;
    }

    //content level

    p {
        margin-top: 5px;
        margin-bottom: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*---------------
    EXTERNAL
-----------------*/

.fa-linkedin {color: #4875B4;}
.fa-twitter {color: #33CCFF;}
.fa-skype {color: #12A5F4;}
.fa-envelope {color: gray;}
.fa-github {color: black;}
.fa-rss-square {color: orange;}
.fa {font-size: 1.5em;}

//TWITTER MADE ME DO IT >_<
.twitter-tweet {margin-left: auto !important; margin-right: auto !important;}
