// basics
$white: #fff;
$light_gray: #e7e7e7;
$deep_gray: #777;
$color_shadow: rgba(0, 0, 0, 0.1);

$color_primary: $white;
$color_secondary: #A833CC; // Saturated CollectQT purple
$accent_color: orange;
$body_color: white;

$title_font: "Palanquin", Arial,sans-serif;
$body_font: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

