/*
main.css

Organization:

[HELPERS]
    basic stuff, like add to invisble or disable none
[GLOBAL]
    global styling
        font
        font style
        colors
[BASE LAYOUT]
    base layout
        height / width
        margin and padding
        font size
        shadows
[MOBILE]
    mobile media queries and layout
[EXTERNAL]
    styling for external resources. ex icons and fonts
*/

/*---------------
    HELPERS
-----------------*/

.visible {opacity: 1;}
.invisible {opacity: 0;}
.inline{display: inline;}
.block{display: block;}
.none {display: none;}
.positionAbsolute {position: absolute;}
.positionStatic {position: static;}
.center {margin-left: auto; margin-right: auto;}
.center_text{text-align: center;}
.no_flair{text-shadow: none;}

$primary_color: white;
$secondary_color: purple;
$accent_color: orange;
$body_color: white;

$title_font: "Press Start 2P", monospace;
$body_font: "Ubuntu Mono", sans-serif;
$texture: url(http://i.imgur.com/5NGuyjJ.png);

/*---------------
    GLOBAL
-----------------*/

//basics

h1, h2, h3, h4, h5, p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: black;}

h1, h2, h3, h4, h5 {
    line-height: 1.6em;
    font-family: $title_font;
    text-shadow: 0 0 0.1em purple;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1, h2 {
    text-align: center;
}

html, body, .texture {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    overflow-x: hidden;
    font-family: $title_font;
 }

.body_texture {
    position: fixed;
    background-image: $texture;
    z-index: -1;
    opacity: 0.8;
}

nav {
    overflow-y: auto;
    background-color: $primary_color;
    text-align: center;
    box-shadow: 0 0 10px 0 black;
}

.submenu {
    white-space: nowrap;
}

article {
    background-color: $primary_color;
}

main {
    display: table;
    list-style-type: none;
}

p, blockquote, ul {
    font-family: $body_font;
    line-height: 1.25em;
}

ul {list-style-type: square;}

//effects

a {
    cursor: pointer;
    text-decoration: inherit;
    transition: color 0.33s;
}

main a {color: $secondary_color}
main a:hover {color: $accent_color;}

nav .button {
    display: inline-block;
    white-space: normal;
    font-size: 0.80em;
    border: none;
    color: $primary_color;
    background-color: $secondary_color;
    transition: color 0.5s, background-color 0.5s, padding 0.5s;
    &:hover {
        color: black;
        background-color: $accent_color;
        padding-left: 30px;
        padding-right: 10px;
    }
    &:active {
        color: $primary_color;
        background-color: black;
    }
}

hr {
    border: none;
    background-color: $secondary_color;
    color: $secondary_color;
    height: 2px;
}

//helpers

.heading {font-family: $title_font;}
.content {font-family: $body_font}
//
.logo-large {height:100px;}
.logo-small {height:50px;}

/*-------------------
    BASE LAYOUT
---------------------*/

//this media query is just for consistency
@media all {

    // block level

    nav {
        padding-top: 10px;
        width: 22%;
        height: 100%;
        position: fixed;
    }

    nav h1 {
        font-size: 1.3em;
        margin-bottom: 15px;
    }

    nav i {
        font-size: 1em;
        padding: 5px;
    }

    .nav-menu {
        margin-top: 15px;
        text-align: left;
    }

    nav .button {
        margin-top: 5px;
        margin-bottom: 5px;
        //
        padding-left: 20px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav-category {
        width: 100%;
        text-align: center;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: rgba(black, 0.2);
        box-sizing: border-box;
    }

    main {
        margin-top: 15px;
        margin-right: 12.5%;
        width: 50%;
        position: absolute;
        right: 0;
    }

    article {
        padding: 20px;
        box-shadow: 0 0 10px 0 black;
    }

    //content level

    p {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 25px;
        margin-right: 25px;
    }

    blockquote {
        margin-left: 60px;
        margin-right: 60px;
        //
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 15px;
        //
        font-style: italic;
    }

    ul {
        margin: 25px 0;
        //
        padding: 15px 0;
    }

    li {
        padding: 5px 0;
    }

    hr {
        margin: 50px;
    }

}

/*---------------
     mid sized
-----------------*/

@media all and (max-width: 1000px){
    nav {
        width: 35%;
    }

    main {
        width: 55%;
        margin-right: 30px;
    }
}

/*---------------
    MOBILE
-----------------*/

@media all and (max-width: 500px){

    .extra {display: none}

    html {font-size: 0.8em;}

    nav {
        margin-top: 15px;
        padding-top: 15px;
        width: 100%;
        height: auto;
        position: static;
    }

    main {
        margin: 0;
        width: 100%;
        position: static;
    }

}

/*---------------
    EXTERNAL
-----------------*/

.fa-linkedin {color: #4875B4;}
.fa-twitter {color: #33CCFF;}
.fa-skype {color: #12A5F4;}
.fa-envelope {color: gray;}
.fa-github {color: black;}
.fa-rss-square {color: orange;}

//TWITTER MADE ME DO IT >_<
.twitter-tweet {margin-left: auto !important; margin-right: auto !important;}
