{% extends "message.html" %}
{% block article %}

## Politics and Definitions

### Political Words

We want to say our 'politics are intersectional' but saying that has no use if we don't specifically denote what intersections and systems we actively are aware of, those being:

* **whorephobia / slutshaming** - Sex is not a bad or shameful thing to have, and sex work is work just as much as being a cashier is work
* **capitalism** - An economic system wherein the means of production are largely privately owned. Capitalism is inherently oppressive.
* **transphobia** - Fear or hate of trans people
* **ableism** - Discrimination due to ability / disability
* **racism** - Systematic oppression whose basis is race.
* **misogyny** - Discrimination against women
* **transmisogyny** - Transphobia as applied to women, or misogyny as applied to trans people

---

### Definition: Cultural Resume

A Cultural Resume is a list of items and/or presentable show of work which can display a person's standings or understandings of a culture related item. In the case of CollectQT, a cultural resume is required in order to ascertain or determine if an applicant represents the ideals that CQT stands for. These ideals are often social justice related views, such as understanding of:

* institutional racism
* cultural misogyny
* transmisogyny and how it can often be fatal
* whorephobia and various kinds of work that are not socially accepted

and also the knowledge that:

* misandry isn't real
* reverse racism isn't real
* cisphobia isn't real
* allies are toxic, minions are useful
* capitalism is inherently oppressive

A cultural resume is needed in application to CQT to show that an applicant will fit in with the culture that CQT presents and supports on a daily basis.

#### So just what counts as a Cultural Resume?

A cultural resume can be as simple or elaborate as one desires, to present your views how you see fit. Items which can be on a cultural resume include:

* Blog postings about a particular social / cultural injustice
* Tweets and/or storify speaking up against a particular form of bigotry
* Videos of a person talking about an issue they feel strongly about
* Anything else which can present a person's views on social issues

#### Why do I need a Cultural Resume to work for CQT?

It is excepted that most people will not enter CollectQT with a full understanding of all the concepts we describe, so the purpose of the cultural resume is appraise someone's capacity for understanding, empathy, and education, when the inevitable cultural issues do occur.

{% endblock %}
