{% extends "message.html" %}
{% block article %}

<div >
    <h2 class="center_text no_flair">CollectQT</h1><br>
    <h3 class="center_text no_flair">A (Q)ueer (T)rans (Collect)ive</h1><br>
    <div class="center_text"><img class="logo-large" src="http://i.imgur.com/ydDFbp4.png?2" alt="CollectQT Logo" /></div><br>
</div>

## Organizational Goals

* Be an economic linking point for QTies, by being a primary income source for some, and a secondary resource source for others
* Enable QTies and accomplices to showcase meaningful work in order to help them transition into a new/better work force, or work for themselves.
* Rebuild economic circles and internet infrastructure to better serve marginalized identities, working from the bottom up

## Our Members are Working On...

* [A safer and more inclusive social network Quirell](https://gitlab.com/collectqt/quirell/issues) -- Beta Release May 31st, 2015
* Rewriting the code and fixing the culture for [The Block Bot](http://www.theblockbot.com/) -- July 31st 2015
* Sex and BDSM Education for QTies (collegeofbdsm.com) -- November 31st, 2015
* More inclusive clip site (digital-dollz.com) -- Early 2016
* Sex toy company -- Mid 2016
* Clothing co-op for cheap/free custom clothing and clothing exchange for trans people, CATFolk -- August 2016
* [A funding site for QTies and activists](http://gitlab.com/atunit/atunit/tree/develop) -- ~2017
* Finding more rad QTies (Maybe YOU!!!)
* Building ties with other community organizations

## Culture and Politics

A strong focus on accessibility, inclusion, and ownership. Example: despite being a tech based project, we're going to take the time to make sure the project doesn't read as 'too tech', or as 'too good' for entry level people. We define ownership a bit differently than other companies, in that your thoughts, opinions, and contributions will be not only listened to - but applied to and used to improve CollectQT and the project you are working on. You’ll get to be a part of CQT more than you would at an organization that said you, “own” a project but handed off your involvement to one of their unpaid interns, for example. We want you to feel as proud of being an owner of CQT as we are!

Advocacy that reaches into counter-oppressive culture. We're very aware of race and gender identity in CQT, and ask that you should be, too--if you’re thinking of working with/for us. Our commitment to social justice can be seen throughout the tech, sex work, and communication fields. We aim to bring queer people, trans people, and our accomplices together to accomplish amazing things far into the future.

The way we practice pro-active advocacy prioritizes the actual people experiencing the oppression, starting from the bottom up. Specifically, Black queer trans women come first, with our efforts focusing on other marginalized and oppressed communities as our time and resources see fit.

Accomplices are what we call allies around here. We’re still trying to hammer down the exact terminology, but the basic concept is that ally-ship based upon race / gender / sexuality always works in such a way that the "ally" has power over the person in the group (because of systematic oppression). To help counter that structural force, allies shall be denoted as accomplices (or some variant there-of)

## The Team!

* **Lynn (she / her) // [@lynnmagic](https://twitter.com/LynnMagic)**
    * Founder
    * Organizer
    * Python Programmer
* **Ophelia (they / their) // [@_OpheliaBlack](https://twitter.com/_OpheliaBlack)**
    * Community Organizing
    * Administration
    * Writing
* **Rin (they / their) // [@Rin\_The\_Writer](https://twitter.com/@ckoliver_writes)**
    * Writer
    * Public Relations
    * Organizing
* **Annie Mei (she / her) or (they / their) // [@annie\_mei\_shen](https://twitter.com/annie_mei_shen)**
    * Writer
    * Researcher
    * Design

## [Help Needed!](/work-with-us)

Unless **explicitly** stated otherwise, people who are just learning or at **entry level** are always welcome! Don’t worry about being ‘too new’ to something for us. Chances are we can use your help and expertise. Here are the general types of people that we need:

* **Writers:** People to help write documents (like this one!)
* **Organizers:** People willing to help organize our efforts.
* **Artists:** CollectQT needs more stylish art for our current and upcoming projects! We’d love to hear from an iconographer, vector artist, or someone that knows about branding/design for projects ranging in scale/audience type.
* **Developers:** Computerers of all sorts. Front-End Developers, Back-End Developers--if you can code, we’d love to get in touch with you.
* **Legal:** People up to date with small business and non-profit laws and compliancy.
* **Accountants:** People who like numbers and tracking those numbers. If you know about taxes for small businesses and expenses/ bookkeeping, you’re our kind of person.
For more about working with us, [click here go to the "Work With Us!" page](/work-with-us)

## Partners and Sponsors

(( WIP ))

{% endblock %}

