{% extends "message.html" %}
{% block article %}

<div >
    <h2 class="center_text no_flair">CollectQT</h1><br>
    <h3 class="center_text no_flair">A (Q)ueer (T)rans (Collect)ive</h1><br>
    <div class="center_text"><img class="logo-large" src="http://i.imgur.com/ydDFbp4.png?2" alt="CollectQT Logo" /></div><br>
</div>

## Organizational Goals

* Be an economic linking point for QTies. Collect them into a stronger community
* Be a primary income source for some, and a secondary resource source for others
* Rebuild economic circles and internet infrastructure to better serve QTies

## Our Members are Working On...

* [A funding site for QTies and activists](http://gitlab.com/atunit/atunit/tree/develop)
* [A safe and inclusive social network](https://gitlab.com/collectqt/quirell/issues)
* [Bloobs!](/bloobs) for [Ruin Game Jam](http://itch.io/jam/ruinjam2014)
* Finding more rad QTies (Maybe YOU!!!)
* Building ties with other community organizations

## Culture and Politics

A strong focus on **accessibility** and **inclusion**. Example: despite being a tech based project, we're going to take the time to make sure the project doesn't read as 'too tech', or as 'too good' for entry level people.

Advocacy that reaches into 'counter-oppressive' culture. We're **'reverse racist'** and **'cis-phobic'**. Our social justice party includes not only a warrior but also a mage, support, and a tank.

Advocacy that prioritizes the actual people experiencing the oppression. **Black Queer Trans Women** come first, everyone else is some degree of minion (see: 'Allies').

**'Allies'** are minions around here. Still working on the exact terminology but the basic concept is that ally-ship based upon race / gender / sexuality always works in such a way that the "ally" has power over the person in the group (because of systematic oppression). To help counter that structural force, allies shall be denoted as minions (or some variant there-of)

## The Team!

* **Lynn (she / her) // [@lynnmagic](https://twitter.com/LynnMagic)**
    * Founder
    * Organizer
    * Python Programmer
    * Programming (game, web)
    * Writer
* **Ophelia (they / their) // [@NoIamOpheliaRly](https://twitter.com/NoImOpheliaRly)**
    * Writing
    * Advertising
    * Clothing design
    * Makeup SFX / sculpting
    * Video editing
    * Organizing
* **Rin (they / their) // [@Rin\_The\_Writer](https://twitter.com/@rin_the_writer)**
    * Writer
    * Public Relations
    * Organizing
    * [Writing Queer Book !!!](http://ckoliver.com/embers)
* **Annie Mei (she / her) or (they / their) // [@annie\_mei\_shen](https://twitter.com/annie_mei_shen)**
    * Writer
    * Researcher
    * Design
    * Culinary Artist

## [Help Needed!](/work-with-us)

Unless **explicitly** stated otherwise, people who are just learning or at **entry level** are always welcome! Here are the general types of people that we need:

* **Writers:** People to help write documents (like this one!)
* **Organizers:** People willing to help organize our efforts
* **Artists:** CollectQT needs iconography! And style!
* **Developers:** Computerers of all sorts

For more about working with us, [click here go to the "Work With Us!" page](/work-with-us)

{% endblock %}
