{% extends "message.html" %}
{% block article %}

# Work with CollectQT!

This page exists to desribe all the requirements one would need to work with CollectQT, but not every needs to meet all the requirements. Specifically, it works like so:

* If you want to **join CollectQT as a worker owner**, everything on this page applies to you, and you should definitely go through all of it
* If you want to do **contract work** for CollectQT, you don't need to read so hard into the culture, but need to be very sure of your professional skills
* If you want to **volunteer** for CollectQT, first you should know that CollectQT, while it is very much engaged in activism, is incorporated as an LLC and not a nonprofit. We don't need any particular qualifications from volunteers (professional or cultural), feel free to volunteer for as a way to break into a career / cultural sphere.

## CollectQT Culture

We at CollectQT are creating **our own definition of a professional** work environment. We like to be whimsical and relaxed while working and progressing towards completing our projects. We promote an atmosphere in which everybody can be comfortable, and do that by creating the most **inclusive, welcoming, and non-judgemental atmosphere possible**. This will make the CollectQT worktime conduct dramatically different from what you would experience at a company not run by a group of queer trans people. For example in chat have been known to discuss:

* how the **prison industrial complex** and monetization of force by the police contributes to racial oppression
* the **culture of queerness**, which often ends up lewd because... ([Model View Culture article about being gay on the internet](http://modelviewculture.com/pieces/gay-internet-witches-on-the-internet-get-more-kisses)).
* the new video one of our **sex worker friends / co-workers** just released
* the failings of any and every type of **respectability politics**
* how the **normative workplace culture** excludes and marginalizes disabled people for reasons that have nothing to do with their capacity to work

Because of the things we discuss, its **extremely important** to understand the culture and emotions of your QT peers. It's up to everyone in CollectQT to communicate your own boundaries / triggers as well as be aware of people's boundaries / triggers, and quickly apologize and potentially take a conversation to another channel when needed.

## Who We are Seeking

Does our team sound like something you want to be a part of? Are you interested, and think that maybe you might be one of the people CollecQT is seeking? If you meet this criteria, we might just be looking for you!

### Broadly, we want these kinds of people:

* **Queer-trans people**
* People **aligned with our culture** (you might be submitting a "cultural resume")
* **Self starters / self motivated workers**, people who do not need to be constantly reminded to work on things
* **Generalists**, people who are comfortable accepting a wide variety of tasks (as opposed to tasks specific to the job function)
* **Organizers / project managers**, people who are comfortable managing and directing the work of others

### But specifically you should be one of these:

* **<img alt='python icon' src='http://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Other-python-icon.png' style="width:20px;height:20px;">Python Web Developer** have worked on writing python code for a web developement backend. Particularly code that interacts with [a database](https://gitlab.com/collectqt/quirell/tree/develop/quirell/database)

CollectQT acknowledges that being Queer and Trans is closely tied with the sex work community and homelessness. Many QTies are forced into sex work in order to get out of homelessness, to avoid homelessness, or sometimes sex work is the cause of becoming homeless due to whorephobia. Because of this close tie **CollectQT gives hiring preference to those who have been, or currently are a sex worker or homeless** if there are two equally qualified applicants.

## How To Apply

The application process for CollectQT is still being worked on, but if you know any of the current members of CollectQT, give them a **"work resume"** + **"cultural resume"** and some **social media** links. Everyone who applies to CollectQT gets voted on by the other members, so the process might take quite some time.

---

## Definition: Cultural Resume

A Cultural Resume is a list of items and/or presentable show of work which can display a person's standings or understandings of a culture related item. In the case of CollectQT, a cultural resume is required in order to ascertain or determine if an applicant represents the ideals that CQT stands for. These ideals are often social justice related views, such as understanding of:

* institutional racism
* cultural misogyny
* transmisogyny and how it can often be fatal
* whorephobia and various kinds of work that are not socially accepted

and also the knowledge that:

* misandry isn't real
* reverse racism isn't real
* cisphobia isn't real
* allies are toxic, minions are useful
* capitalism is inherently oppressive

A cultural resume is needed in application to CQT to show that an applicant will fit in with the culture that CQT presents and supports on a daily basis.

## So just what counts as a Cultural Resume?

A cultural resume can be as simple or elaborate as one desires, to present your views how you see fit. Items which can be on a cultural resume include:

* Blog postings about a particular social / cultural injustice
* Tweets and/or storify speaking up against a particular form of bigotry
* Videos of a person talking about an issue they feel strongly about
* Anything else which can present a person's views on social issues

## Why do I need a Cultural Resume to work for CQT?

It is excepted that most people will not enter CollectQT with a full understanding of all the concepts we describe, so the purpose of the cultural resume is appraise someone's capacity for understanding, empathy, and education, when the inevitable cultural issues do occur.

{% endblock %}
