.visible {
  opacity: 1; }

  .invisible {
    opacity: 0; }

    .inline {
      display: inline; }

      .block {
        display: block; }

        .none {
          display: none; }

          .positionAbsolute {
            position: absolute; }

            .positionStatic {
              position: static; }

              .center {
                margin-left: auto;
                margin-right: auto; }

                .center_text {
                  text-align: center; }

                  .no_flair {
                    text-shadow: none; }

                    h1, h2, h3, h4, h5, p {
                      -webkit-margin-before: 0;
                      -webkit-margin-after: 0;
                      margin-top: 0;
                      margin-bottom: 0;
                      color: black; }

                      h1, h2, h3, h4, h5 {
                        line-height: 1.3em;
                        font-family: "Press Start 2P", monospace;
                        text-shadow: 0 0 0.1em purple;
                        margin-top: 5px;
                        margin-bottom: 5px; }

                        h1, h2 {
                          text-align: center; }

                          html, body, .texture {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                            height: 100%; }

                            body {
                              background-color: white;
                              overflow-x: hidden;
                              font-family: "Press Start 2P", monospace; }

                              .body_texture {
                                position: fixed;
                                background-image: url(http://i.imgur.com/5NGuyjJ.png);
                                z-index: -1;
                                opacity: 0.8; }

                                nav {
                                  overflow-y: auto;
                                  background-color: white;
                                  text-align: center;
                                  box-shadow: 0 0 10px 0 black; }

                                  .submenu {
                                    white-space: nowrap; }

                                    article {
                                      background-color: white; }

                                      main {
                                        display: table;
                                        list-style-type: none; }

                                        p, blockquote, ul {
                                          font-family: "Ubuntu Mono", sans-serif;
                                          line-height: 1.1em; }

                                          ul {
                                            list-style-type: square; }

                                            a {
                                              cursor: pointer;
                                              text-decoration: inherit;
                                              transition: color 0.33s; }

                                              main a {
                                                color: purple; }

                                                main a:hover {
                                                  color: orange; }

                                                  nav .button {
                                                    display: inline-block;
                                                    white-space: normal;
                                                    font-size: 0.8em;
                                                    border: none;
                                                    color: white;
                                                    background-color: purple;
                                                    transition: color 0.5s, background-color 0.5s, padding 0.5s; }
                                                    nav .button:hover {
                                                      color: black;
                                                      background-color: orange;
                                                      padding-left: 30px;
                                                      padding-right: 10px; }
                                                      nav .button:active {
                                                        color: white;
                                                        background-color: black; }

hr {
  border: none;
  background-color: purple;
  color: purple;
  height: 2px; }

  .heading {
    font-family: "Press Start 2P", monospace; }

    .content {
      font-family: "Ubuntu Mono", sans-serif; }

      .logo-large {
        height: 100px; }

        .logo-small {
          height: 50px; }

          @media all {
            nav {
              padding-top: 10px;
              width: 22%;
              height: 100%;
              position: fixed;   }
              nav h1 {
                font-size: 1.3em;
                margin-bottom: 15px;   }
                nav i {
                  font-size: 1em;
                  padding: 5px;   }
                  .nav-menu {
                    margin-top: 15px;
                    text-align: left;   }
                    nav .button {
                      margin-top: 5px;
                      margin-bottom: 5px;
                      padding-left: 20px;
                      padding-right: 15px;
                      padding-top: 5px;
                      padding-bottom: 5px;   }
                      .nav-category {
                        width: 100%;
                        text-align: center;
                        padding: 5px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                        background-color: rgba(0, 0, 0, 0.2);
                        box-sizing: border-box;   }
                        main {
                          margin-top: 15px;
                          margin-right: 12.5%;
                          width: 50%;
                          position: absolute;
                          right: 0;   }
                          article {
                            padding: 10px;
                            box-shadow: 0 0 10px 0 black;   }
                            p {
                              margin-top: 15px;
                              margin-bottom: 10px;
                              margin-left: 25px;
                              margin-right: 25px;   }
                              blockquote {
                                margin-left: 60px;
                                margin-right: 60px;
                                padding-right: 15px;
                                padding-left: 15px;
                                padding-top: 10px;
                                padding-bottom: 15px;
                                font-style: italic;   }
                                ul {
                                  margin-left: 25px;
                                  margin-right: 25px;
                                  padding-right: 15px;
                                  padding-left: 15px;
                                  padding-bottom: 15px;   }
                                  hr {
                                    margin: 50px;   }
}

@media all and (max-width: 1000px) {
  nav {
    width: 35%;   }
    main {
      width: 55%;
      margin-right: 30px;   }
}

@media all and (max-width: 500px) {
  .extra {
    display: none;   }
    html {
      font-size: 0.8em;   }
      nav {
        margin-top: 15px;
        padding-top: 15px;
        width: 100%;
        height: auto;
        position: static;   }
        main {
          margin: 0;
          width: 100%;
          position: static;   }
}

.fa-linkedin {
  color: #4875B4; }

  .fa-twitter {
    color: #33CCFF; }

    .fa-skype {
      color: #12A5F4; }

      .fa-envelope {
        color: gray; }

        .fa-github {
          color: black; }

          .fa-rss-square {
            color: orange; }

            .twitter-tweet {
              margin-left: auto !important;
              margin-right: auto !important; }
