<h2>Artist needed for Logo/Rebranding for &quot;CollectQT&quot; and &quot;Quirell&quot;</h2>

<p>This page describes a contract for art assets. For general information about working with us, see <a href="/work-with-us">the Work With Us page</a>.
<br> <br> CollectQT has need for an artist to produce the following assets:</p>

<ul>
<li>The following pictures as PNG files

<ul>
<li>CollectQT logo and Quirell logo (200px by 200px)</li>
<li>CollectQT banner and Quirell banner (300px by 900px)</li>
<li>Favicons for both Collect QT and Quirell (32px by 32px)</li>
</ul></li>
<li>The following social media icons for Quirell as PNG and SVG files. (examples: <a href="http://www.flaticon.com/free-icon/multiple-users-silhouette_33308">http://www.flaticon.com/free-icon/multiple-users-silhouette_33308</a>)

<ul>
<li>User</li>
<li>Follow / Unfollow (basically the user icon with a + or a -)</li>
<li>Boost / Reblog / Share</li>
<li>Like / Favorite / Heart</li>
<li>Reply</li>
<li>Notifications / Notes / Alerts</li>
<li>Messages / Chat (a chat bubble)</li>
<li>Home (a home)</li>
<li>Settings (a gear)</li>
</ul></li>
</ul>
