<p><a href="http://collectqt.itch.io/bloobs"><img src="http://i.imgur.com/XvnbhUg.png" alt="Bloobs! banner image"></a></p>

<p>Bloobs! is a game about helping little bloobies find love. Bloobs! is a game created by <a href="http://collectqt.me">CollectQT</a> for <a href="http://itch.io/jam/ruinjam2014">RuinGameJam</a>. It was written in python with pygame and is still very much in alpha.</p>

<p><hr><br></p>

<h4>Q: What is Bloobs!?</h4>

<p>So Bloobs! is the first game prototype of a new group I&#39;m putting together, called <a href="http://collectqt.me">CollectQT</a>. Bloobs started the way most other ideas start around CollectQT: that being with a lot of discussion with people in our community. There have been some issues in the community that prompted the creation of <a href="http://itch.io/jam/ruinjam2014">Ruin Game Jam</a>, a distrbuted game design / developement event focused around &quot;Ruining Gaming&quot;. When the people who work on CollectQT think of ruining gaming, their thought process goes something like this:</p>

<blockquote>
<p><strong>QT1:</strong> So this game should be hella gay</p>

<p><strong>QT2:</strong> All our games should be hella gay</p>

<p><strong>QT1:</strong> Well, this game in particular should be extra gay, like, gayness as the whole point of the game</p>

<p><strong>QT1:</strong> So what if we made a game about gay drops of water...</p>

<p><strong>QT2:</strong> Drops of water aren&#39;t very gay -_-</p>

<p><strong>QT3:</strong> How about they be boobs</p>

<p><strong>QT1:</strong> ...</p>

<p><strong>QT2:</strong> I LOVE IT</p>

<p><strong>QT1:</strong> So we have a game about gay boobs and</p>

<p><strong>QT3:</strong> lolllll</p>

<p><strong>QT1:</strong> And they&#39;re really shy right, but they&#39;re also gay, so they wanna be very close to other bloobs. And when you put them close to each other they get all blushy</p>

<p><strong>QT2:</strong> LOL</p>

<p><strong>QT1:</strong> no no wait, and this is important! Because being blushy tell you how happy they are</p>

<p><strong>QT2:</strong> Cuteness as a gameplay element, I love it</p>
</blockquote>

<p>And thus CollectQT&#39;s game about gay boob things, appropriately named &quot;Bloobs!&quot;, was born.</p>

<h4>Q: What is CollectQT?</h4>

<p>CollectQT is a collective focused on bringing together (Q)ueer and (T)rans people all over the world, to build financial support, education, and more.</p>

<h4>Q: Who is apart of Bloobs!?</h4>

<p>The group working on Bloobs! consists of Cassie and Lynn (me!), who are both Pythonistas; Kord on graphics and UX work; and Joanna Blackhart for music development and sound effects. They all worked very hard on Bloobs! pulling long hours, and are amazing at what they do.</p>

<h4>Q: Why did you choose to participate in RuinGameJam?</h4>

<p>CollectQT is filled with a bunch of fairly leftist and fairly politicized people who are close to the individuals harmed by the 4chan troll assault, and when Ruin Jam popped up it was pretty much assumed we would participate in it as a way to help to help the social justice war effort and give us direction for CollectQT&#39;s first project.</p>

<h4>Q: What is the development team doing to address accessibility issues that may appear in Bloobs!?</h4>

<p>One thing brought up very early in the design process was creating gameplay elements that had to do with the color on individual bloobs. Almost immediately after that it was brought up that mean also adding a colorblind mode. While a colorblind mode is something we are still looking into, what has happened already was changing the design of some of the features to be not so reliant on color as a primary indicator.</p>

<h4>Q: What is the development pipeline for Bloobs!?</h4>

<p>Currently Bloobs! &quot;plays&quot; like a tech demo, there&#39;s no leaving mechanic or progression present yet. When our pythonistas aren&#39;t busy coding other new and gay IPs, they&#39;ll probably add those features in. The plan is eventually for Bloobs! to be a small but fully fledged game to look cute in our portfolio.</p>

<h4>Q: Any further plans to expand Bloobs!?</h4>

<p>Yes, up to DDs.</p>

<h4>Q: Anything else to say about the project?</h4>

<p>Yes! You should check out these links:</p>

<ul>
<li><a href="http://collectqt.itch.io/bloobs">CollectQT&#39;s Itch.io</a> - you can try the game here!</li>
<li><a href="http://collectqt.bandcamp.com">CollectQT&#39;s Bandcamp</a> - if you want to support us financially and don&#39;t want to wait for our Kickstarter, this is where you should go! Or you can go here if you just like music ^_^</li>
<li><a href="http://collectqt.me">CollectQT&#39;s Website</a> - for more information about us!</li>
<li><a href="http://twitter.com/CollectQT">CollectQT&#39;s twitter account</a> - to talk to us!</li>
</ul>

<p><strong>-- Lynn Cyrin, CollectQT Project Manager</strong></p>
