<h1>CollectQT IRC Rules</h1>

<p><br></p>

<h2>##CollectQT</h2>

<p>Members only Channel ! You&#39;re only allowed in here if you&#39;re at least a CollectQT advisor. CollectQT contractors may also be allowed in here on a case by case basis, but may be asked to leave the channel at a moments notice, so that CollectQT can engage in secret internal business. The general atmosphere is casual, except when we are having a meeting.</p>

<h2>#CollectQT</h2>

<p>CollectQT general pulic meeting and discussion area. Go here if you want to talk to CollectQT people but aren&#39;t allowed inside of ##CollectQT. The general atmostphere for this channel is very casual.</p>

<h2>#Quirell, (etc)...</h2>

<p>CollectQT subprojects (example: Quirell), will often get their own IRC channels. These channels follow the same ruleset as #CollectQT, and you are free to have discussions you would have here in #CollectQT instead</p>
