<h2>Work with CollectQT!</h2>

<p>This page exists to describe all the requirements one would need to work with CollectQT, but not every needs to meet all the requirements. Specifically, it works like so:</p>

<ul>
<li>If you want to <strong>join CollectQT as a worker owner</strong>, everything on this page applies to you.</li>
<li>If you want to do <strong>contract work</strong> for CollectQT, you need to be very sure of your professional skills.</li>
<li>If you want to <strong>volunteer</strong> for CollectQT, first you should know that CollectQT, while it is very much engaged in activism, is incorporated as an LLC--we’re not a nonprofit.</li>
</ul>

<p>We don&#39;t need any particular qualifications from volunteers, and we encourage you to volunteer as a way to break into a career / cultural sphere.</p>

<h3>CollectQT Culture</h3>

<p>We at CollectQT are creating <strong>our own definition of a professional</strong> work environment. We like to be whimsical and relaxed while working and progressing towards completing our projects. We promote an atmosphere in which everybody can be comfortable, and do that by creating the most <strong>inclusive, welcoming, and non-judgemental atmosphere possible</strong>. This will make the CollectQT worktime conduct dramatically different from what you would experience at a company not run by a group of queer trans people. For example in chat have been known to discuss:</p>

<ul>
<li>how the <strong>prison industrial complex</strong> and monetization of force by the police contributes to racial oppression</li>
<li>the <strong>culture of queerness</strong>, which often ends up lewd because... (<a href="http://modelviewculture.com/pieces/gay-internet-witches-on-the-internet-get-more-kisses">Model View Culture article about being gay on the internet</a>).</li>
<li>the new video one of our <strong>sex worker friends / co-workers</strong> just released</li>
<li>the failings of any and every type of <strong>respectability politics</strong></li>
<li>how the <strong>normative workplace culture</strong> excludes and marginalizes disabled people for reasons that have nothing to do with their capacity to work</li>
</ul>

<p>Because of the things we discuss, its <strong>extremely important</strong> to understand the culture and emotions of your QT peers. It&#39;s up to everyone in CollectQT to communicate your own boundaries / triggers as well as be aware of people&#39;s boundaries / triggers, and quickly apologize and potentially take a conversation to another channel when needed.</p>

<h3>Who We are Seeking</h3>

<p>CollectQT acknowledges that being Queer and Trans is closely tied with the sex work community and homelessness. Many QTies are forced into sex work in order to get out of homelessness, to avoid homelessness, or sometimes sex work is the cause of becoming homeless due to whorephobia. Because of this close tie <strong>CollectQT gives hiring preference to those who have been, or currently are a sex worker or homeless</strong> if there are two equally qualified applicants.</p>

<p>Now that you’ve read that--does our team sound like something you want to be a part of? Are you interested, and think that maybe you might be one of the people CollecQT is seeking? If you meet the following criteria (especially the above!) we might just be looking for you!</p>

<h3>Broadly, we want these kinds of people:</h3>

<ul>
<li><strong>Queer-trans people</strong></li>
<li>People <strong>aligned with our culture</strong> (you might be submitting a &quot;cultural resume&quot;)</li>
<li><strong>Self starters / self motivated workers</strong>, people who do not need to be constantly reminded to work on things</li>
<li><strong>Generalists</strong>, people who are comfortable accepting a wide variety of tasks (as opposed to tasks specific to the job function)</li>
<li><strong>Organizers / project managers</strong>, people who are comfortable managing and directing the work of others</li>
</ul>

<h3>Specifically you should be:</h3>

<ul>
<li><strong><img alt='python icon' src='http://icons.iconarchive.com/icons/cornmanthe3rd/plex/512/Other-python-icon.png' style="width:20px;height:20px;">Python Web Developer</strong> have worked on writing python code for a web development backend. Particularly code that interacts with <a href="https://gitlab.com/collectqt/quirell/tree/develop/quirell/database">a database</a></li>
</ul>

<h3>How To Apply</h3>

<p>The application process for CollectQT is still being worked on, but if you know any of the current members of CollectQT, give them some links to your <strong>most recent work</strong> + your <strong>cultural resume</strong> and / or <strong>social media</strong> links. Everyone who applies to CollectQT gets voted on by the other members, so the process might take quite some time. Depending on your field of work, we might ask for different examples of ‘recent projects’--so keep that in mind!</p>

<p>If you need a cultural resume also, then <a href="/definitions">go to the definitions page</a> to learn about it.</p>
